<ul>
  <li class="" >
    <a class="" [routerLink]="['upload1']"  routerLinkActive="active"><b>Voir upload 1</b></a>
  </li>
  <li class="" >
    <a class="" [routerLink]="['upload2']"  routerLinkActive="active"><b>Voir upload 2</b></a>
  </li>
  
  
</ul>

