<!-- upload file drag and drop-->

<div>
  <p>Action d'envoi d'un ou plusieurs fichiers directement </p> <br><br>

<nz-upload
nzType="drag"
[nzMultiple]="true"
nzAction="http://localhost:3000/upload-avatar-multiple"
(nzChange)="handleChange($event)"
>
<p class="ant-upload-drag-icon">
  <i nz-icon nzType="inbox"></i>
</p>
<p class="ant-upload-text">Click or drag file to this area to upload</p>
<p class="ant-upload-hint">
  Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
</p>
</nz-upload>

</div>


<!-- end upload file -->
