.container{
    display: flex;
    justify-content: center;
    padding: 24px;
}

.noir{
    color: black;
}
.bggreen{
    background-color: greenyellow;
}

.bgblue{
    background-color: blue;
}
.dropdown__icon:hover{
    color: red;
    border: 1px solid red;
}