<!-- upload file 

[nzHeaders]="{ 'Content-Type': 'multipart/form-data' }"
-->

<div>

  <p>Action d'envoi du fichier en blob</p> <br><br>

<nz-upload
nzAction="http://localhost:3000/upload-avatar-blob"
[nzHeaders]="{ 'Content-Type': 'multipart/form-data' }"
(nzChange)="handleChange($event)"
>
<button nz-button>
  <i nz-icon nzType="upload"></i>
  Click to Upload
</button>

</nz-upload>

<br>
<br>

<button nz-button (click)="sendFile()">Envoyer le fichier au serveur</button>

</div>

<!-- end upload file -->
